.scene {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1500px;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .75s;
}
.scene .side {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #bd8161;
  box-shadow: inset 0 0 150px 1px rgba(0, 0, 0, 0.5);
}
.scene .side.back {
  -webkit-transform: translateX(0) translateY(0) translateZ(-1000px);
}
.scene .side.left {
  -webkit-transform-origin: 0 50%;
  -webkit-transform: rotateY(90deg);
}
.scene .side.right {
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
}
.scene .side.top {
  -webkit-transform-origin: 50% 0;
  -webkit-transform: rotateX(-90deg);
}
.scene .side.bottom {
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(90deg);
}

/*#front-page img {
  position: absolute;
  display:block;
  width: 100%;
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
}
#front-page img.leaf1 {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
}
#front-page img.leaf2 {
  -webkit-transform: translateX(0) translateY(0) translateZ(50px);
}
#front-page img.leaf3 {
  -webkit-transform: translateX(0) translateY(0) translateZ(100px);
}
#front-page img.glow {
  width: 30%;
  padding-top: 31%;
  left: 20%;
  -webkit-transform: translateX(0) translateY(0) translateZ(150px);
}
#front-page img.coat {
  width: 20%;
  padding-top: 34%;
  left: 25%;
  -webkit-transform: translateX(0) translateY(0) translateZ(200px);
}
#front-page img.mrrabbit {
  width: 30%;
  padding-top: 20%;
  right: 16%;
  -webkit-transform: translateX(0) translateY(0) translateZ(250px);
}
#front-page img.subtitle {
  width: 25%;
  padding-top: 20%;
  right: 38%;
  -webkit-transform: translateX(0) translateY(0) translateZ(300px);
}
#front-page img.title {
  width: 75%;
  padding-top: 3%;
  right: 17%;
  -webkit-transform: translateX(0) translateY(0) translateZ(350px);
}*/
